<nav class="CategoryNav">
    <ul>
        <li><a href="/{{ .Language.Lang }}/">{{ i18n "Home" }}</a></li>
        <li><a href="/{{ .Language.Lang }}/instructions/">{{ i18n "Instructions" }}</a></li>
    </ul>
</nav>

{{ if .IsTranslated }}
<nav>{{ i18n "translations" }}
<ul>
    {{ range .Translations }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Language.Lang }}: {{ .LinkTitle }}<!-- {{ if .IsPage }} ({{ i18n "wordCount" . }}) {{ end }} --></a>
    </li>
    {{ end }}
</ul>
</nav>
{{ end }}

<!-- {{ if .IsTranslated }}
<nav class="LangNav">
    {{ range .AllTranslations }}
    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end}}
</nav>
{{ end }} -->