<nav class="CategoryNav">
    <ul>
        <li><a href="/{{ .Language.Lang }}/">{{ i18n "home" }}</a></li>
        <li><a href="/{{ .Language.Lang }}/instructions/">{{ i18n "instructions" }}</a></li>
    </ul>
</nav>

{{- if .IsTranslated -}}
<nav class="LanguageNav">{{- i18n "translations" -}}
<ul>
    {{- range .Translations -}}
    <li>
        <a href="{{ .RelPermalink }}">{{- .Language.Lang -}}: {{- .LinkTitle -}}{{- if .IsPage -}} ({{- i18n "wordCount" . -}}) {{- end -}}</a>
    </li>
    {{- end -}}
</ul>
</nav>
{{- end -}}