<nav class="CategoryNav">
    <ul>
        <li><a href="/{{ .Lang }}/">{{- i18n "home" -}}</a></li>
        <li><a href="{{ relref . "instructions" }}">{{- i18n "instructions" -}}</a></li>
    </ul>
</nav>

{{- with .AllTranslations -}}
<nav class="LanguageNav">{{- i18n "translations" -}}
<ul>
    {{- range $.Translations -}}
    <li>
        <a href="{{ .RelPermalink }}">{{- .Language -}}:&nbsp; {{- .LinkTitle -}}</a>
    </li>
    {{- end -}}
</ul>
</nav>
<hr/>

<!-- adding Alpine test-wise. If it works as intended: Upgrade to latest version -> update integrity -->
<script src="https://unpkg.com/alpinejs@3.9.1/dist/cdn.min.js" integrity="sha384-mDHH3kdyMS0F6QcfHCxEgPMMjssTurzucc7Jct3g1GOfB4p7PxJuugPP1NOLvE7I" crossorigin="anonymous"></script>
{{- end -}}