{{- define "main" -}}
<h1>{{- i18n "instructions" -}}</h1>

<div class="filtercontrols">
{{- partial "categories.html" . -}}
{{- partial "levels.html" . -}}
{{- partial "sensors.html" . -}}
{{- partial "materials.html" . -}}
</div>

{{ $pages := where site.RegularPages "Type" "instructions" }}
{{ $paginator := .Paginate $pages }}

<div class="instructions">
    {{- with $paginator -}}
    <p id="message">{{- i18n "showing" -}}&nbsp;<output>{{- .NumberOfElements -}}&nbsp;{{- i18n "instructions" -}}</output></p>
    {{- end -}}

    <ul class="instructions">
        {{- range $paginator.Pages -}}
        <li>
            <h4><a href="{{ .RelPermalink }}">{{- .LinkTitle -}}</a></h4>
            <div class="summary"> {{- .Summary -}} </div>
        </li>
        {{- end -}}
    </ul>
</div>

{{- end -}}
