{{- define "main" -}}
    <h2>{{- i18n "overview" -}}&nbsp;{{- i18n "instructions" -}}</h2>

    {{- partial "taglist.html" . -}}

    {{ $pages := where site.RegularPages "Type" "instructions" }}
    {{ $paginator := .Paginate $pages }}

    <div class="instructions">
        {{- with $paginator -}}
            <p id="message">{{- i18n "showing" -}}&nbsp;<output>{{- .NumberOfElements -}}&nbsp;{{- i18n "instructions" -}}</output></p>
        {{- end -}}

        <div aria-labelledby="message" role="region">
            <ol class="instructions">
                {{- range $paginator.Pages -}}
                <li>
                    <a href="{{ .RelPermalink }}">{{- .LinkTitle -}}</a> -&nbsp; {{- .Date | time.Format ":date_medium" -}}
                </li>
                {{- end -}}
            </ol>
        </div>
    </div>

{{- end -}}